<div class="container float-left">
    <div class="me" [ngClass]="{left:inCall}">
        <video #me class="me responsive" [ngClass]="{left:inCall}"></video>
    </div>
    <div class="input" [ngClass]="{hidden:!inCall}">
        <video #video class="" [ngClass]="{hidden:!inCall}"></video>
        <button (click)="imageCapture()" class="btn btn btn-outline-info"><i class="fas fa-camera"></i></button>
    </div>
    <button (click)="reconect()" class="btn btn btn-outline-success"><i class="fas fa-sync"></i></button>
    <button *ngIf="!inCall" (click)="notifyCall({call:true,key:this.key})" [ngClass]="{green:peer.id}">Activar llamada <i class="fa fa-phone"></i></button>
    <button *ngIf="calling" (click)="cancelCall()" class="btn btn-danger">&times; Cancelar llamada</button>
    <button  *ngIf="!inCall" [ngClass]="{'btn btn-info':peer.id}" (click)="enviarSMS()" class="boton">Generar enlace <i class="fas fa-link"></i></button>
    <button [ngClass]="{'btn btn-danger':peer.id}" class="finalizar-consulta" (click)="this.colgado.emit()">Finalizar consulta <i class="fas fa-phone"></i></button>
    <div *ngIf="inCall" class="inputs">
        <textarea disabled class="form-control" [(ngModel)]="mensaje">{{mensaje}}</textarea>
        <div class="input-group">
            <input type="text" class="form-control" (keyup.enter)="enviarMensaje()" [(ngModel)]="mensajeTemp">
            <div class="input-group-append">
                <button class="btn btn-success enviar" (click)="enviarMensaje()">Enviar</button>

            </div>
        </div>
    </div>
</div>
<pre>
    {{
        callChunks | json
    }}
</pre>

<button (click)="finalizar()">Test</button>
<audio #preview></audio>