:host{
    &.medico{
        .container{
            width: 30%;
            grid-template-areas: "video  video  video  video"
            "me     me     me     me"
            "button button button button"
            "buton  buton  buton  buton";   
        }
    }
    
    .container{
        min-width: 100%;
        min-width: 35vw;
        display:grid;
        grid-area: "video me";
        margin:auto;
        height:auto;
        min-height: 95vh;
        padding:1rem;
        align-content: center;
        .me{
            max-width: 100%;
            margin: auto;
            grid-area: me;
        }
        video{
            width: 100%;
            margin:auto;
        }
        .input{
            grid-area: video;
        }
        button{
            border-radius: 12px;
            display: inline-block;
            width: 100%;
            margin: 1em auto;
            padding: 1em;
            border:none;
            color:whitesmoke;
            grid-area: button;
        }

        .boton{
            grid-area: buton;
        }

        .green{
            background-color: #229900;
        }
        .hidden{
            display: none;
        }
        .formulario{
            grid-area: form;
        }
    }

    &:not(.medico){
        button:not(.fin-consulta){
            display: none !important;
        }
    }
}
