:host{
    &.medico{
        .container{
            width: 30%;
            grid-template-areas: "video  video  video  video"
            "me     me     me     me"
            "button button button button"
            "buton  buton  buton  buton" 
            "chat chat chat chat"  !important;   
        }
        .finalizar-consulta{
            display: none !important;
        }
        .inputs{
            grid-area: chat;            
        }
    }
    
    .container{
        min-width: 100%;
        min-width: 35vw;
        display:grid;
        grid-template-areas: "video me"
                   "video me"
                   "chat chat"
                   "fin   fin" !important;
        margin:auto;
        height:auto;
        min-height: 95vh;
        padding:1rem;
        align-content: center;
        .me{
            max-width: 100%;
            margin: auto;
            grid-area: me;
        }
        video{
            width: 100%;
            margin:auto;
        }
        .input{
            grid-area: video;
        }
        button{
            border-radius: 12px;
            display: inline-block;
            width: 100%;
            margin: 1em auto;
            padding: 1em;
            border:none;
            grid-area: button;
        }

        .boton{
            grid-area: buton;
        }

        .green{
            background-color: #229900;
        }
        .hidden{
            display: none;
        }
        .formulario{
            grid-area: form;
        }

        .finalizar-consulta{
            grid-area:fin;
        }
    }

    &.paciente{
        button:not(.finalizar-consulta):not(.enviar){
            display: none !important;
        }
    }
    .inputs{
        grid-area: chat;            
    }
}

.enviar{
    z-index: 0;
}

textarea{
    width: 100%;
}