<div class="container float-left">
    <span><strong>Signos Y sintomas: </strong> {{teleconsulta.signosSintomas}}</span><br>
    <span><strong>Evaluación:</strong> {{teleconsulta.evaluacion}}</span>
    <form class="row" [formGroup]="formulario" (change)="onChanges()" (ngSubmit)="onSubmit($event)">
      <div class="col-12 mt-3">
        <div class="col-12">
          <div class="form-group">
            <ngb-tabset type="pills" [justify]="'justified'" [destroyOnHide]="false">
              <ngb-tab title="Antecendentes">
                <ng-template ngbTabContent>
                  <textarea  autofocus="autofocus" formControlName="antecedentes" class="form-control" cols="30" rows="4"></textarea>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>N.Consulta</ng-template>
                <ng-template ngbTabContent>
                  <textarea  autofocus="autofocus" formControlName="nConsulta" class="form-control" cols="30" rows="4"></textarea>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="N.Operador">
                <ng-template ngbTabContent>
                  <textarea  autofocus="autofocus" formControlName="nOperador" class="form-control" cols="30" rows="4"></textarea>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>

      <div class="col-12 mt-1">
        <div class="col-12">
          <div class="form-group">
            <label for="tratamiento"  class="h3">Tratamiento </label>
            <textarea id="tratamiento" formControlName="tratamiento" class="form-control" cols="30" rows="4"></textarea>
          </div>
        </div>
        <div class="col-12">
          <label>Asignar despacho? <span class="btn" [ngClass]="{'btn-success':formulario.controls['asignarDespacho'].value,'btn-danger':!formulario.controls['asignarDespacho'].value}">{{formulario.controls['asignarDespacho'].value? 'Si':'No'}} </span><input type="checkbox" style="display: none;" formControlName="asignarDespacho"> </label> <br>  
          <label>Requiere seguimiento?? <span class="btn" [ngClass]="{'btn-success':formulario.controls['requiereSeguimiento'].value,'btn-danger':!formulario.controls['requiereSeguimiento'].value}">{{formulario.controls['requiereSeguimiento'].value? 'Si':'No'}} </span><input type="checkbox" style="display: none;" formControlName="requiereSeguimiento"> </label> <br>
          <label>
            Novedades 
            <select class="form-control" formControlName="novedades">
              <option value="">Seleccionar una opción</option>
              <option value="consulta terminada por telefono">Consulta terminada por telefóno</option>
              <option value="No contesta">No contesta</option>
              <option value="Problema de conexión">Problema de conexión</option>
            </select>
          </label> <br>
          <div class="row">
            <label class="col-md-5">
              Celular
              <input type="number" formControlName="bencel" class="form-control">
            </label>
            <label class="col-md-5">
              Telefono
              <input type="number" formControlName="bentel" class="form-control">
            </label>
          </div>
          <label for="cie10">CIE10: <button id="cie10" class="btn btn-info" (click)="cie10 = !cie10">Cie10</button> <i *ngIf="formulario.controls['diagnostico'].value" class="fas fa-check ml-1 text-success"></i> {{ formulario.controls['diagnostico'].value }} </label>
        </div>
        <div class="col-6 ml-auto">
            <button class="btn btn-success float-left" (click)="finalizarConsulta()">finalizar teleconsulta</button>
            <p class="font-italic" *ngIf="this.formulario.get('horaInicio').value">{{ tiempoTranscurrido }}</p>
        </div>
      </div>
    </form>
  </div>
  <app-diagnostico *ngIf="cie10" [ngClass]="{'show':cie10}" (seleccionado)="saveCie10($event)"></app-diagnostico>