<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">consecutivo</th>
    <th scope="col" sortable="horaLllamada">horaLllamada</th>
    <th scope="col" sortable="nombre">nombre</th>
    <th scope="col" sortable="cedula">cedula</th>
    <th scope="col" sortable="cedula">Numero</th>
    <th scope="col" sortable="signosSintomas">signosSintomas</th>
    <th scope="col" sortable="evaluacion">evaluacion</th>
    <th><button class="btn btn-info  rounded-circle rounded" (click)="loadServices()"> <i class="fas fa-sync-alt"></i> </button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of teleconsultas">
    <td>{{service.consecutivo}}</td>
    <td>{{service.horaLlamada}}</td>
    <td (click)="abrirModal(modalHistorialHistoriaClinica,service.cedula)">{{service.nombre}}</td>
    <td>{{service.cedula}}</td>
    <td>{{service.bencel}}</td>
    <td>{{service.signosSintomas}}</td>
    <td>{{service.evaluacion}}</td>
    <td>
      <button class="btn" 
              [ngClass]="{'btn-info':teleconsulta.consecutivo == service.consecutivo,
                          'btn-primary':teleconsulta.consecutivo != service.consecutivo}" 
              (click)="seleccionarTeleconsulta(service)"
              [disabled]="teleconsulta.consecutivo == service.consecutivo"
              >

              {{(teleconsulta.consecutivo == service.consecutivo)?'Teleconsulta Activa':'Activar Teleconsulta'}}
      </button>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #modalHistorialHistoriaClinica>
  <app-historial-historias-clinicas [bendoc]="modalBendoc" [modalRef]="modalRef"></app-historial-historias-clinicas>
</ng-template>